<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="project14" transaction-type="RESOURCE_LOCAL">

        <class>com.company.project14.entity.Report</class>
        <class>com.company.project14.entity.ReportType</class>
    </persistence-unit>
</persistence>
